[Unit]
Description=Deep-Sleep-Service for PinePhone with support for periodic wake-ups to get notifications
After=user@1000.service

[Service]
Type=simple
User=root
ExecStart=sleepwalk2
Restart=always

[Install]
WantedBy=user@1000.service
